In [1]:
import requests
import pandas as pd

Read in BM unit data...

In [5]:
web = 'https://data.elexon.co.uk/bmrs/api/v1/reference/bmunits/all'
r = requests.get(web)
df = pd.DataFrame(r.json())
df.set_index('nationalGridBmUnit', inplace=True)
# last updated Jan 2023
df_ids = pd.read_csv('../data/ids.csv', index_col=0)
# last updated Jan 2023
df_loc = pd.read_csv('../data/plant-locations.csv', index_col=0)
lon = []
lat = []
for BMU in df.index:
    try:
        # creating and passing series to new column
        new = df_ids.loc[df_ids['ngc_bmu_id'].fillna('').str.contains(BMU)]
        lon.append(df_loc.loc[new.index.values[0]]['longitude'])
        lat.append(df_loc.loc[new.index.values[0]]['latitude'])
    except:
        lon.append('')
        lat.append('')
df['lon'] = lon
df['lat'] = lat

df

,elexonBmUnit,fuelType,leadPartyName,bmUnitType,fpnFlag,lon,lat
nationalGridBmUnit,,,,,,,
ABERU-1,E_ABERDARE,None,UK Power Reserve Limited,E,True,-3.44926,51.711177
ABRBO-1,T_ABRBO-1,WIND,Aberdeen Offshore Wind Farm,T,True,-1.9728,57.2226
ABRTW-1,E_ABRTW-1,WIND,Npower Commercial Gas Limited,E,True,-3.988675,55.621764
ACHLW-1,C__PSMAR001,WIND,Smartestenergy Limited,S,True,-3.4565,58.4479
ACHRW-1,T_ACHRW-1,WIND,Mobius Renewables Gen. (GB2,T,True,-5.393722,56.34286
...,...,...,...,...,...,...,...
YEP-SWT01,2__MSWEB000,None,EDF Energy Customers Ltd,G,True,,
YEP-SYM01,2__MSYMB000,None,E.ON Next Energy Ltd,G,True,,
YEP-TFE01,2__MTGPL000,None,TotalEnergies Gas & Power Ltd,G,True,,
YEP-YEP01,2__MYELG000,None,npower limited,G,True,,
ZEN02A,V__AZENO002,None,BESS Holdco 2 Limited,V,True,,

In [8]:
df.to_csv("")

,gppd_idnr,esail_id,name,sett_bmu_id,ngc_bmu_id,4c_offshore_id,windpowernet_id,wikidata_id,wikipedia_id,power_technology_id,eutl_id,eic_id,cfd_id,jrc_id,iaea_id,old_repd_id,new_repd_id,crown_estate_id
dictionary_id,,,,,,,,,,,,,,,,,,
10000,NaN,MARK,Rothes Bio-Plant CHP,"E_MARK-1, E_MARK-2","MARK-1, MARK-2",NaN,NaN,NaN,NaN,NaN,NaN,48W000000MARK-1D,NaN,NaN,NaN,NaN,NaN,NaN
10001,"GBR1000377, GBR1000369",DIDC,Didcot,"T_DIDC1, T_DIDC2, T_DIDC4, T_DIDC3, T_DIDC1G, ...","DIDC1, DIDC2, DIDC4, DIDC3, DIDC1G, DIDC2G, DI...",NaN,NaN,Q3298465,Didcot_power_stations,NaN,97165,"48W00000DIDC01G1, 48W00000DIDC02GZ, 48W00000DI...",NaN,NaN,NaN,NaN,NaN,NaN
10002,"GBR1000374, GBR1000375",ABTH,Aberthaw B,"T_ABTH7, T_ABTH8, T_ABTH9, T_ABTH7G, T_ABTH8G,...","ABTH7, ABTH8, ABTH9, ABTH7G, ABTH8G, ABTH9G",NaN,NaN,Q4667192,Aberthaw_power_stations,NaN,97175,"48W0000000ABTH7Y, 48W0000000ABTH8W, 48W0000000...",NaN,NaN,NaN,NaN,NaN,NaN
10003,GBR1000142,COTPS,Cottam,"T_COTPS-1, T_COTPS-2, T_COTPS-3, T_COTPS-4","COTPS-1, COTPS-2, COTPS-3, COTPS-4",NaN,NaN,Q11964143,Cottam_power_stations,NaN,97778,"48W00000COTPS-1Q, 48W00000COTPS-2O, 48W00000CO...",NaN,NaN,NaN,NaN,NaN,NaN
10004,"GBR0000174, GBR1000112",DRAXX,Drax,"T_DRAXX-1, T_DRAXX-2, T_DRAXX-3, T_DRAXX-4, T_...","DRAXX-1, DRAXX-2, DRAXX-3, DRAXX-4, DRAXX-5, D...",NaN,NaN,Q1629859,Drax_Power_Station,NaN,96842,"48W00000DRAXX-56, 48W00000DRAXX-64, 48W000DRAX...",INV-DRX-001,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10313,NaN,NaN,Calder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"231, 232, 233, 234",NaN,NaN,NaN
10314,NaN,NaN,Dounreay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"242, 243",NaN,NaN,NaN
10315,NaN,NaN,Trawsfynydd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"273, 274",NaN,NaN,NaN
10316,NaN,NaN,Windscale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268,NaN,NaN,NaN
10317,NaN,NaN,Winfrith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,239,NaN,NaN,NaN

Read in FPN data...

In [3]:
# can get data from most recent settlement period, but limited by demand +1H after
end_date = pd.Timestamp.now()
settlementDate = (end_date - pd.Timedelta(hours=0.5)).date()
settlementPeriod = (end_date - pd.Timedelta(hours=0.5)).hour * 2

# options - 'PN', 'QPN', 'MILS', 'MELS
dataset = 'PN'

web = 'https://data.elexon.co.uk/bmrs/api/v1/balancing/physical/all?dataset=' + dataset + '&settlementDate=' + str(settlementDate) + '&settlementPeriod=' + str(settlementPeriod) + '&format=json'

r = requests.get(web)
df_FPN = pd.DataFrame(r.json()['data'])
# df.index = df['nationalGridBmUnit']
df_FPN.set_index('nationalGridBmUnit', inplace=True)
df_FPN.rename(columns={'levelTo':'FPN'}, inplace=True)
df_FPN

,dataset,settlementDate,settlementPeriod,timeFrom,timeTo,levelFrom,FPN,bmUnit
nationalGridBmUnit,,,,,,,,
ARNKB-1,PN,2024-02-03,28,2024-02-03T13:59:00Z,2024-02-03T14:00:00Z,-12,0,E_ARNKB-1
CRSSB-1,PN,2024-02-03,28,2024-02-03T13:59:00Z,2024-02-03T14:00:00Z,-1,0,E_CRSSB-1
BHLAW-1,PN,2024-02-03,28,2024-02-03T13:59:00Z,2024-02-03T14:00:00Z,97,98,T_BHLAW-1
CLDNW-1,PN,2024-02-03,28,2024-02-03T13:59:00Z,2024-02-03T14:00:00Z,169,168,T_CLDNW-1
GRGBW-1,PN,2024-02-03,28,2024-02-03T13:59:00Z,2024-02-03T14:00:00Z,111,105,T_GRGBW-1
...,...,...,...,...,...,...,...,...
AG-FLX02N,PN,2024-02-03,28,2024-02-03T13:30:00Z,2024-02-03T14:00:00Z,0,0,V__NFLEX001
AG-FLX07N,PN,2024-02-03,28,2024-02-03T13:30:00Z,2024-02-03T14:00:00Z,0,0,V__NFLEX002
AG-HEL0DN,PN,2024-02-03,28,2024-02-03T13:30:00Z,2024-02-03T14:00:00Z,0,0,V__NHABI005
AG-FLX01P,PN,2024-02-03,28,2024-02-03T13:30:00Z,2024-02-03T14:00:00Z,2,2,V__PFLEX001
AG-HEL0CP,PN,2024-02-03,28,2024-02-03T13:30:00Z,2024-02-03T14:00:00Z,0,0,V__PHABI004

Read in maximum export level data...

In [4]:
# options - 'PN', 'QPN', 'MILS', 'MELS'
dataset = 'MELS'

web = 'https://data.elexon.co.uk/bmrs/api/v1/balancing/physical/all?dataset=' + dataset + '&settlementDate=' + str(settlementDate) + '&settlementPeriod=' + str(settlementPeriod) + '&format=json'

r = requests.get(web)
df_mel = pd.DataFrame(r.json()['data'])
# df.index = df['nationalGridBmUnit']
df_mel.set_index('nationalGridBmUnit', inplace=True)
df_mel.rename(columns={'levelTo':'MEL'}, inplace=True)
df_mel

,dataset,settlementDate,settlementPeriod,timeFrom,timeTo,levelFrom,MEL,bmUnit
nationalGridBmUnit,,,,,,,,
DAMC-1,MELS,2024-02-03,28,2024-02-03T13:59:00Z,2024-02-03T14:00:00Z,763,762,T_DAMC-1
DIDCB6,MELS,2024-02-03,28,2024-02-03T13:59:00Z,2024-02-03T14:00:00Z,333,332,T_DIDCB6
LAGA-1,MELS,2024-02-03,28,2024-02-03T13:59:00Z,2024-02-03T14:00:00Z,392,391,T_LAGA-1
PEMB-21,MELS,2024-02-03,28,2024-02-03T13:59:00Z,2024-02-03T14:00:00Z,438,437,T_PEMB-21
AG-ASTK05,MELS,2024-02-03,28,2024-02-03T13:58:00Z,2024-02-03T14:00:00Z,50,50,2__ASTAT005
...,...,...,...,...,...,...,...,...
AG-FLX02N,MELS,2024-02-03,28,2024-02-03T13:30:00Z,2024-02-03T14:00:00Z,0,0,V__NFLEX001
AG-FLX07N,MELS,2024-02-03,28,2024-02-03T13:30:00Z,2024-02-03T14:00:00Z,0,0,V__NFLEX002
AG-HEL0DN,MELS,2024-02-03,28,2024-02-03T13:30:00Z,2024-02-03T14:00:00Z,0,0,V__NHABI005
AG-FLX01P,MELS,2024-02-03,28,2024-02-03T13:30:00Z,2024-02-03T14:00:00Z,2,2,V__PFLEX001
AG-HEL0CP,MELS,2024-02-03,28,2024-02-03T13:30:00Z,2024-02-03T14:00:00Z,0,0,V__PHABI004

Combine dataframes...

In [6]:
df = df[~df.index.duplicated(keep='first')]
df_FPN = df_FPN[~df_FPN.index.duplicated(keep='first')]
df_mel = df_mel[~df_mel.index.duplicated(keep='first')]
result = pd.concat([df, df_FPN, df_mel], axis=1, join='inner')
result = result[['settlementDate', 'settlementPeriod', 'fuelType', 'longitude', 'latitude', 'FPN', 'MEL']]

df_gen = result.loc[result['FPN'] > 0]
df_gen

,settlementDate,settlementDate,settlementPeriod,settlementPeriod,fuelType,longitude,latitude,FPN,MEL
nationalGridBmUnit,,,,,,,,,
ABRBO-1,2024-02-03,2024-02-03,28,28,WIND,-1.9728,57.2226,53,97
ABRTW-1,2024-02-03,2024-02-03,28,28,WIND,-3.988675,55.621764,36,36
ACHRW-1,2024-02-03,2024-02-03,28,28,WIND,-5.393722,56.34286,43,42
AFTOW-1,2024-02-03,2024-02-03,28,28,WIND,-4.1691,55.3128,42,50
AG-FLX01P,2024-02-03,2024-02-03,28,28,None,,,2,2
...,...,...,...,...,...,...,...,...,...
WLNYO-4,2024-02-03,2024-02-03,28,28,WIND,-3.522,54.044,257,322
WLNYW-1,2024-02-03,2024-02-03,28,28,WIND,-3.522,54.044,89,159
WTMSO-1,2024-02-03,2024-02-03,28,28,WIND,0.681152,53.943155,191,204
YEP-ATL01,2024-02-03,2024-02-03,28,28,None,,,30,0
YEP-PGU01,2024-02-03,2024-02-03,28,28,None,,,30,0

In [8]:
df_gen['FPN'].sum()

30581

Read in the demand...

https://bmrs.elexon.co.uk/total-load-actual-and-day-ahead - includes transmission and distributed network connected load and is actual. (code for this below)

https://bmrs.elexon.co.uk/rolling-system-demand - elexon calls this the rolling system demand, but it is just the sum of transmission connected generation.

In [10]:
import requests
import pandas as pd

# Actual total load per bidding zone per Settlement Period, the total load being defined as equal
# to the sum of power generated by plants on both Transmission System Operators/Distribution System
# Operators networks, from which is deduced:
# - The balance (export-import) of exchanges on interconnections between neighbouring bidding zones.
# - The power absorbed by energy storage resources.

# demand data is published +1H after
from_ = (end_date).date()
to_ = from_

web = 'https://data.elexon.co.uk/bmrs/api/v1/demand/actual/total?from=' + str(from_) + '&to=' + str(to_) + '&settlementPeriodFrom=' + str(settlementPeriod) + '&settlementPeriodTo=' + str(settlementPeriod) + '&format=json'
r = requests.get(web)
df = pd.DataFrame(r.json()['data'])
df

,publishTime,startTime,settlementDate,settlementPeriod,quantity
0,2024-02-03T14:25:10Z,2024-02-03T13:30:00Z,2024-02-03,28,39599.0