In [1]:
import pandas as pd
import requests

In [2]:
web = 'https://data.elexon.co.uk/bmrs/api/v1/reference/bmunits/all'
r = requests.get(web)
df = pd.DataFrame(r.json())
df.set_index('nationalGridBmUnit', inplace=True)
# T - These BM Units are directly connected to the Transmission System.
# E - These BM Units are embedded into a Distribution System.
# I - These BM Units are related to an Interconnector.
# 2 - These BM Units cover Supply, and contain all of a particular Supplier’s MPANs in either a Base or Additional Supplier BM Unit for a given Grid Supply Point (GSP) Group.
# C - These Additional Supplier BM Units are registered solely for the purpose of allocating CFD Assets to them.
# V - Secondary BM Units may be registered by a Virtual Lead Party to provide TERRE Balancing Services to the NETSO. 
# M - Other types of BM Units that don’t fit the above categories. This prefix does not apply to newly registered BM Units.
df = df[df['bmUnitType'] == 'T']
# df1 = df[df.isna().any(axis=1)]
# df.dropna(inplace=True)
# print the fuel types
print(df['fuelType'].unique())

['WIND' None 'CCGT' 'OTHER' 'NPSHYD' 'PS' 'NUCLEAR' 'BIOMASS' 'OCGT'
 'COAL']

In [3]:
df.count_values()

AttributeError: 'DataFrame' object has no attribute 'count_values'

In [ ]:
# last updated Jan 2023
df_ids = pd.read_csv('../data/ids.csv', index_col=0)
df_ids

,gppd_idnr,esail_id,name,sett_bmu_id,ngc_bmu_id,4c_offshore_id,windpowernet_id,wikidata_id,wikipedia_id,power_technology_id,eutl_id,eic_id,cfd_id,jrc_id,iaea_id,old_repd_id,new_repd_id,crown_estate_id
dictionary_id,,,,,,,,,,,,,,,,,,
10000,NaN,MARK,Rothes Bio-Plant CHP,"E_MARK-1, E_MARK-2","MARK-1, MARK-2",NaN,NaN,NaN,NaN,NaN,NaN,48W000000MARK-1D,NaN,NaN,NaN,NaN,NaN,NaN
10001,"GBR1000377, GBR1000369",DIDC,Didcot,"T_DIDC1, T_DIDC2, T_DIDC4, T_DIDC3, T_DIDC1G, ...","DIDC1, DIDC2, DIDC4, DIDC3, DIDC1G, DIDC2G, DI...",NaN,NaN,Q3298465,Didcot_power_stations,NaN,97165,"48W00000DIDC01G1, 48W00000DIDC02GZ, 48W00000DI...",NaN,NaN,NaN,NaN,NaN,NaN
10002,"GBR1000374, GBR1000375",ABTH,Aberthaw B,"T_ABTH7, T_ABTH8, T_ABTH9, T_ABTH7G, T_ABTH8G,...","ABTH7, ABTH8, ABTH9, ABTH7G, ABTH8G, ABTH9G",NaN,NaN,Q4667192,Aberthaw_power_stations,NaN,97175,"48W0000000ABTH7Y, 48W0000000ABTH8W, 48W0000000...",NaN,NaN,NaN,NaN,NaN,NaN
10003,GBR1000142,COTPS,Cottam,"T_COTPS-1, T_COTPS-2, T_COTPS-3, T_COTPS-4","COTPS-1, COTPS-2, COTPS-3, COTPS-4",NaN,NaN,Q11964143,Cottam_power_stations,NaN,97778,"48W00000COTPS-1Q, 48W00000COTPS-2O, 48W00000CO...",NaN,NaN,NaN,NaN,NaN,NaN
10004,"GBR0000174, GBR1000112",DRAXX,Drax,"T_DRAXX-1, T_DRAXX-2, T_DRAXX-3, T_DRAXX-4, T_...","DRAXX-1, DRAXX-2, DRAXX-3, DRAXX-4, DRAXX-5, D...",NaN,NaN,Q1629859,Drax_Power_Station,NaN,96842,"48W00000DRAXX-56, 48W00000DRAXX-64, 48W000DRAX...",INV-DRX-001,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10313,NaN,NaN,Calder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"231, 232, 233, 234",NaN,NaN,NaN
10314,NaN,NaN,Dounreay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"242, 243",NaN,NaN,NaN
10315,NaN,NaN,Trawsfynydd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"273, 274",NaN,NaN,NaN
10316,NaN,NaN,Windscale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268,NaN,NaN,NaN
10317,NaN,NaN,Winfrith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,239,NaN,NaN,NaN

In [ ]:
# last updated Jan 2023
df_loc = pd.read_csv('../data/plant-locations.csv', index_col=0)
df_loc

               longitude   latitude
dictionary_id
10000          -3.603516  57.480403
10001          -1.267570  51.623630
10002          -3.404866  51.387312
10003          -0.648193  53.245495
10004          -0.626221  53.748711
...                  ...        ...
10307          -4.807400  55.233700
10308          -3.915600  55.315400
10309          -4.176100  55.271800
10310          -4.017800  55.323900
10311          -3.229600  58.439500

[243 rows x 2 columns]

In [ ]:
lon = []
lat = []
for BMU in df.index:
    try:
        # creating and passing series to new column
        new = df_ids.loc[df_ids['ngc_bmu_id'].fillna('').str.contains(BMU)]
        lon.append(df_loc.loc[new.index.values[0]]['longitude'])
        lat.append(df_loc.loc[new.index.values[0]]['latitude'])
    except:
        lon.append('')
        lat.append('')
df['longitude'] = lon
df['latitude'] = lat

df

,elexonBmUnit,fuelType,leadPartyName,bmUnitType,fpnFlag,longitude,latitude
nationalGridBmUnit,,,,,,,
ABRBO-1,T_ABRBO-1,WIND,Aberdeen Offshore Wind Farm,T,True,-1.9728,57.2226
ACHRW-1,T_ACHRW-1,WIND,Mobius Renewables Gen. (GB2,T,True,-5.393722,56.34286
AFTOW-1,T_AFTOW-1,WIND,Afton Wind Farm Limited,T,True,-4.1691,55.3128
AKGLD-2,T_AKGLD-2,None,Aikengall 2 CWCL,T,False,,
AKGLW-2,T_AKGLW-2,WIND,Aikengall 2 CWCL,T,True,-2.492993,55.923317
...,...,...,...,...,...,...,...
WTMSO-1,T_WTMSO-1,WIND,Westermost Rough Limited,T,True,0.681152,53.943155
WYLF-1,T_WYLF-1,None,NDA,T,True,-4.405518,53.370221
WYLF-2,T_WYLF-2,None,NDA,T,True,-4.405518,53.370221
WYLF-3,T_WYLF-3,None,NDA,T,True,-4.405518,53.370221
WYLF-4,T_WYLF-4,None,NDA,T,True,-4.405518,53.370221

May need to manually add the locations of the rest of these BMUs.

In [ ]:
import geopandas as gpd

print(len(df))
print(len(df.loc[df["longitude"] == ""]))
print(len(df.loc[df["latitude"] == ""]))

exist = df.loc[df["longitude"] != ""]
"""
gpd.GeoDataFrame(
    exist,
    geometry=gpd.points_from_xy(exist.longitude, exist.latitude)
    ).to_file('harmonised_bm_units.geojson', driver='GeoJSON')
"""

398
127
127

"\ngpd.GeoDataFrame(\n    exist,\n    geometry=gpd.points_from_xy(exist.longitude, exist.latitude)\n    ).to_file('harmonised_bm_units.geojson', driver='GeoJSON')\n"

In [ ]:
noloc = df.loc[df["longitude"] == ""]
noloc["fuelType"].astype(str).value_counts()

fuelType
None       93
WIND       14
OTHER      13
OCGT        3
BIOMASS     3
CCGT        1
Name: count, dtype: int64

,elexonBmUnit,fuelType,leadPartyName,bmUnitType,fpnFlag,longitude,latitude
nationalGridBmUnit,,,,,,,
AKGLD-2,T_AKGLD-2,None,Aikengall 2 CWCL,T,False,,
ANGLD-1,T_ANGLD-1,None,SSE Energy Supply Limited,T,False,,
BAGED-1,T_BAGED-1,None,Baglan Operations Ltd,T,False,,
BAGTD-1,T_BAGTD-1,None,EDF Energy Customers Ltd,T,True,,
BPGRD-1,T_BPGRD-1,None,Grangemouth CHP Ltd,T,True,,
...,...,...,...,...,...,...,...
WHLWB-1,T_WHLWB-1,None,SP Renewables (UK) Limited,T,True,,
WHTLD-1,T_WHISTLD-1,None,EDF Energy Customers Ltd,T,False,,
WILCT-1,T_WILCT-1,BIOMASS,SembCorp Utilities (UK) Ltd,T,True,,
WISHB-1,T_WISHB-1,OTHER,Zenobe Wishaw Limited,T,True,,
WISHD-1,T_WISHD-1,None,Zenobe Wishaw Limited,T,True,,